@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap'); /*Dongle*/
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap'); /*Sedgwick Ave*/
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap'); /*Prompt*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); /*Monsserrat*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 2px;
}
::-webkit-scrollbar-thumb {
    background: rgb(27, 27, 27); 
}
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}
.bmc-btn-container{
    margin-top: 10px;
}

.invis-div {
    width: 100%;
    height: 75px;
}
.wrapper {
    width: 100%;
}
.content {
    height: auto;
    background-color: #11121d;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}

.laman{
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    height: 100%;
}

@media only screen and (max-width: 600px){
    .laman {
        margin-left: 7%;
        margin-right: 7%;
    }
}

.header{
    text-align: center;
    background-color: #2b2f3d;
    border-radius: 20px;
    border: 3px solid transparent;
    box-shadow: inset 0px 1px 10px 3px rgb(15, 15, 15);
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    transform: skew(-5deg);
}
.profile{
    transform: skew(5deg);
    padding: 1em;

}
.profile-info {
    display: block;  
    text-align: center;
    border-bottom: 5px solid transparent;
    border-image: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-image-slice: 1;
    color: white;
    padding: 10px;
    position: relative;
}
.profile p{
    font-family: 'Dongle';
    font-size:21px;
}
.profile h1{
    font-family: 'Montserrat';
    letter-spacing: 2px;
    
}
.profile-pic {
    width: 125px;
    border-radius: 50%;
    margin-top: -50px;
    border: 7px solid #2b2f3d;
}
.back-img {
    width: 100%;
    height: 150px;
    background-image: url('https://cdn.discordapp.com/attachments/915863796441022464/934899595979395223/unknown.png');
    background-size: cover;
    transform: skew(-.1deg);
    z-index: 100;
}
.social-container {
    display: block;
    margin-top: 20px;
}
.social-container a{
    text-decoration: none;
    font-family: 'Prompt';
    color: white;
}
.bar-cont h1{
    padding-left: 75px;
}
.Discord {
    background-color:#252935; 
    padding: 20px;
    transform: skew(8deg);
    margin-top: 15px;
    border: 3px solid transparent;
    transition: 200ms ease-out;
    box-shadow: inset 0px 1px 10px 3px rgb(15, 15, 15);
    border-radius: 5px;
}
.Discord:hover {
    border: 3px solid white;
    background-color: #7289da;
}
.image img {
    width: 50px;
    float:left;
}
.YouTube{
    background-color:#252935; 
    padding: 20px;
    transform: skew(-8deg);
    margin-top: 15px;
    border: 3px solid transparent;
    transition: 200ms ease-out;
    box-shadow: inset 0px 1px 10px 3px rgb(15, 15, 15);
    border-radius: 5px;
}
.YouTube:hover {
    border: 3px solid white;
    background-color: #FF0000;
}
.Github{
    background-color:#252935; 
    padding: 20px;
    transform: skew(8deg);
    margin-top: 15px;
    border: 3px solid transparent;
    transition: 200ms ease-out;
    box-shadow: inset 0px 1px 10px 3px rgb(15, 15, 15);
    border-radius: 5px;
}
.Github:hover {
    border: 3px solid white;
    background-color: #0c0c0c;
}
.Steam{
    background-color:#252935; 
    padding: 20px;
    transform: skew(-8deg);
    margin-top: 15px;
    border: 3px solid transparent;
    transition: 200ms ease-out;
    box-shadow: inset 0px 1px 10px 3px rgb(15, 15, 15);
    border-radius: 5px;
}
.Steam:hover {
    border: 3px solid white;
    background-color: #2a475e;
}
.Instagram{
    background-color:#252935; 
    padding: 20px;
    transform: skew(8deg);
    margin-top: 15px;
    border: 3px solid transparent;
    transition: 200ms ease-out;
    box-shadow: inset 0px 1px 10px 3px rgb(15, 15, 15);
    border-radius: 5px;
}

.bar-cont span {
    float:right;
}

/*    border: 3px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    */
    
